.diary_wrap {width: 100%; margin: 0 auto;}
.diary_contents {width: 1280px; margin: 0 auto;}

/* 로고 */
.diary_logo img {width: 140px;}

/* 메인 이미지 */
.diarymain_card{margin: 0 auto;}
.diary_img .img{width: 600px; height: 400px; }


/* 검색창 */
.diary_searchwrap {width: 600px; margin: 0 auto; padding: 2rem;}
.diary_searchinputwrap {border: 1px solid #4cc37c; padding: 2%; border-radius: 40px;}
.diary_searchinput {width: 88%; border: none;}
input:focus {outline:none;}

.diary_searchbtn {border: none; background: none;}
.diary_searchbtn img {width: 26px; height: 26px; margin-left: 70%;}

.diary_dayline {width: 60%; margin: 0 auto;}
.diary_detail a {text-decoration: none; color: black;}
.diary_icon_sun {margin-top: 1rem;}

/* 상단 태그 */
.diary_btn {background-color: #fff; border: 1px solid #adadad; border-radius: 2rem; margin-right: 0.5rem; padding: 0.6rem 2rem 0.6rem 2rem;}
.diary_btn a {text-decoration: none;}
.diary_btn:hover {background-color: #4cc67c; border-radius: 2rem; color: #fff; padding: 0.6rem 2rem 0.6rem 2rem; margin-right: 0.5rem; justify-content: center; align-items: center;}
.diary_btn_clicked {background-color: #4cc67c; border: none; border-radius: 30px; color: #fff; padding: 0 25px 0 25px; height: 40px; justify-content: center; align-items: center;}


/* 앨범 세로선 */
.line_top1 img {margin-left: 232px;}
.line_1 { border-left: thick solid #f0f0f0; /* 오른쪽에만 선 부여 */ height: auto; /* 높이로 조절 */ margin-left: 250px; padding-left: 5%; margin-top: 20px;margin-bottom: 50px;}

.line_top2 img {margin-left: 220px;}
.line_2 { border-left: thick solid #f0f0f0; /* 오른쪽에만 선 부여 */ height: auto; /* 높이로 조절 */ margin-left: 250px; padding-left: 5%; margin-top: 20px;margin-bottom: 50px;}

.line_top3 img {margin-left: 220px;}
.line_3 { border-left: thick solid #f0f0f0; /* 오른쪽에만 선 부여 */ height: auto; /* 높이로 조절 */ margin-left: 250px; padding-left: 5%; margin-top: 20px;margin-bottom: 50px;}

.line_top4 img {margin-left: 232px;}
.line_4 { border-left: thick solid #f0f0f0; /* 오른쪽에만 선 부여 */ height: auto; /* 높이로 조절 */ margin-left: 250px; padding-left: 5%; margin-top: 20px;margin-bottom: 50px;}

.list_col{margin-top: 40px !important;}

/* 앨범 */
.diarylist_card{padding: 15px; margin-top: 10px;}
.list_all{justify-content: center}

/* 등록 */
.diary-img-btn {background-color: #4cc67c !important; font-weight: 900 !important; border: none !important; margin-top: 20px; margin-bottom: 20px;}
.diary-input-memo{width: 50px; height: 150px; max-width: 500px; margin: 0 auto;}
.diary-text {max-width: 650px; margin: 0 auto; margin-bottom: 0 auto;}
.diary-input {max-width: 500px; margin: 0 auto; margin-bottom: 15px;}
.diary-add {background-color: #4cc67c; color: #ffffff; border: none; border-radius: 5px; font-weight: 900; font-size: large; padding: 10px; width: 10%;}

/* 캘린더 */
button {cursor: pointer;}
.diary {width: 1000px; height: 910px; margin: 3rem auto; padding: 40px 40px; border: 1px solid rgba(128, 128, 128, 0.267);/*position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);*/}
.diary .title {display: flex;}
.diary .title > button { border: none; margin-left: 5px; height: 20px; align-self: center; background: none;}
.diary .title .pagination { margin: 0 auto; align-self: center;}
.diary .title .pagination button { margin: 0 50px 0 50px; border: none; background: none;}
.pagination select {margin: 1rem; padding: 0.4rem;}
.diary .week {display: flex; margin-top: 2rem;}
.diary .week .weekday {width: calc(1000px / 7); text-align: center;}
.diary .week .sunday {color: red;}
.diary .week .saturday {color: blue;}
.diary .date {margin-top: 40px;}
.diary .date .weekday {width: calc(910px / 7); float: left; text-align: center; height: 140px; line-height: 50px;}
.diary .date .sunday {color: red;}
.diary .date .saturday {color: blue;}
.diary .date .today {background-color: rgba(252, 252, 145, 0.63); font-weight: 700;/* border-radius: 80rem; color: white;*/}

