.diary_wrap {width: 100%; margin: 0 auto;}
.diary_contents {width: 1280px; margin: 0 auto;}

/* diaryMainPage*/
.diarymain_card{margin: 0 auto;}

/* diaryListPage*/
/* .diarylist_card{margin: 50px;} */

/* 검색창 */
.diary_searchwrap {width: 600px; margin: 0 auto; padding: 2rem;}
.diary_searchinputwrap {border: 1px solid #4cc37c; padding: 2%; border-radius: 40px;}
.diary_searchinput {width: 88%; border: none;}
input:focus {outline:none;}

.diary_searchbtn {border: none; background: none;}
.diary_searchbtn img {width: 26px; height: 26px; margin-left: 70%;}

.diary_dayline {width: 60%; margin: 0 auto;}
.diary_detail a {text-decoration: none; color: black;}
.diary_icon_sun {margin-top: 1rem;}

/* 목록 세로선 */
.line {
    border-left: thick solid gray; /* 오른쪽에만 선 부여 */
    height: auto; /* 높이로 조절 */
    margin-left: 250px;
    padding-left: 5%;
    margin-top: 50px;
  }

/* 상단 태그 */
.diary_btn {background-color: #fff; border: 1px solid #adadad; border-radius: 2rem; margin-right: 0.5rem; padding: 0.6rem 2rem 0.6rem 2rem;}
.diary_btn a {text-decoration: none;}

/* 목록 리스트 */


/* 캘린더 */
button {
  cursor: pointer;
}

.diary {
  width: 1000px;
  height: 910px;
  margin: 3rem auto;
  padding: 40px 40px;
  border: 1px solid rgba(128, 128, 128, 0.267);
  
  /*
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
}

.diary .title {
  display: flex;
}

.diary .title > button {
  border: none;
  margin-left: 5px;
  height: 20px;
  align-self: center;
  background: none;
}

.diary .title .pagination {
  margin: 0 auto;
  align-self: center;
}

.diary .title .pagination button {
  margin: 0 50px 0 50px;
  border: none;
  background: none;
}

.pagination select {margin: 1rem; padding: 0.4rem;}

.diary .week {
  display: flex;
  margin-top: 2rem;
}

.diary .week .weekday {
  width: calc(1000px / 7);
  text-align: center;
}

.diary .week .sunday {
  color: red;
}

.diary .week .saturday {
  color: blue;
}

.diary .date {
  margin-top: 40px;
}

.diary .date .weekday {
  width: calc(910px / 7);
  float: left;
  text-align: center;
  height: 140px;
  line-height: 50px;
}

.diary .date .sunday {
  color: red;
}

.diary .date .saturday {
  color: blue;
}

.diary .date .today {
  background-color: rgba(252, 252, 145, 0.63);
  font-weight: 700;

  /*border-radius: 80rem;
  color: white;*/
}

