* {
    padding: 0; margin-top: 0; box-sizing: border-box; } a {
    text-decoration: none; }
   .wrap {
    height: 700px; padding: 40px 0; 
    background-color: #A8C0D6; overflow-y: scroll;
   }


/* 필터  */
.plant_wrap {width: 100%; margin: 0 auto;}
.plant_contents {width: 1280px; margin: 0 auto;}
.first_filter_section {margin: 2rem 0 0 -2rem; padding: 0; border: 0; vertical-align: baseline;}
.filter_list {display: flex; flex-wrap: wrap;}

/* 검색바 */
.button_hide {background-color: #ffffff; border: #ffffff;}
.store_filterbtn_group {margin-top: 2%;}
.store_filterbtn {background-color: #fff; border: 1px solid #adadad; border-radius: 30px; color: #333333; padding: 0 25px 0 25px; height: 40px; justify-content: center; align-items: center;}
.store_filterbtn:hover {background-color: #4cc67c; border-radius: 30px; color: #fff; padding: 0 25px 0 25px; height: 40px; justify-content: center; align-items: center;}
.store_filterbtn_clicked {background-color: #4cc67c; border: none; border-radius: 30px; color: #fff; padding: 0 25px 0 25px; height: 40px; justify-content: center; align-items: center;}

.store_searchinputwrap {border: 1px solid #4cc37c; padding: 3%; border-radius: 40px;}
.store_searchinput {width: 75%; border: none;}
input:focus {outline:none;}
.store_searchbtn {border: none; background: none;}
.store_searchbtn img {width: 26px; height: 26px; margin-left: 70%;}






   .wrap::-webkit-scrollbar {
    width: 10px; }
   .wrap::-webkit-scrollbar-track {
    display: none; }
   .wrap::-webkit-scrollbar-thumb {
    background-color: #A0A5B2; }
   .wrap .chat {
    display: flex; 
    align-items: flex-start; padding: 20px; }
   .wrap .chat .icon {
    position: relative; }
   .wrap .chat .icon img {
    position: absolute; overflow: hidden; width: 50px; height: 50px; border-radius: 50%; background-color: #eee; object-fit: cover; }
   .wrap .chat .icon .sender {
    position: absolute; left: 5px; top: -17px; width:300px; font-size: 0.5rem; font-weight: bold; text-align: left; color: gray; }
   .wrap .chat .textbox {
    position: relative; display: inline-block; max-width: calc(100% - 70px); padding: 10px; margin-top: 7px; font-size: 0.7rem; border-radius: 10px; text-align: left; }
   .wrap .chat .textbox::before {
    position: absolute; display: block; top: 0; font-size: 1.5rem; }
   .wrap .ch1 .textbox {
    margin-left: 70px; 
    background-color: #ddd; }
   .wrap .ch1 .textbox::before {
    left: -15px; 
    content: "◀"; color: #ddd; }
   .wrap .ch2 {
    flex-direction: row-reverse; }
   .wrap .ch2 .textbox {
    margin-right: 20px; background-color: #F9EB54; }
   .wrap .ch2 .textbox::before {
    right: -15px; content: "▶"; color: #F9EB54; }
   .date {
    float:left; font-size: 0.5rem; }



    .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
        min-height: 400px; margin-bottom: 20px;
       }
   