.recommend {
    background-color: #4cc37c;
    text-emphasis-color: #000000;
}

.icon{
    font-size: 30px;
    margin-top: 4px;
}

.menu_login{
    margin-left: 500px;
    color: #ffffff !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.text_color{
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
}
