.recommend {
    padding: 10px;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    background-color: antiquewhite;
    text-emphasis-color: #ffffff;
}
.title{
    background-color: #4cc37c;
}
