.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 웹 사이즈 */
.display {
  position: relative;
  margin: 0 auto;
  width: 1280px !important;
}

.add {
  position: relative;
  margin: 0 auto;
  width: 800px !important;
}

.magazini {
  position: relative;
  margin: 0 auto;
  width: 1000px !important;
}

.login {
  position: relative;
  margin: 0 auto;
  width: 600px !important;
}

/* 웹 사이즈 */

a :link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #000000 !important;
}